
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.menu{
  background-color: #000;
}
.header{
  min-height: 90px;
}

body{
  background: url("Resources/library-1.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  margin: 0;
  background-color: rgba(241, 240, 240, 0.192);
}


::selection{
  color: #000;
  background: #fff;
}
.logo{
  padding: 20px;
  text-align: center;
  height: 100%;
}
nav{
  color: #fff;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}


.nav_link{
  color: rgb(250, 252, 251);
  text-decoration: none;
  margin: 0 15px;

  position: relative;

  transition: color .2s  linear;
}
.nav_link::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  display: none;

  background-color: #fce38a;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.nav_link:hover{
  color: #fce38a;
}

.nav_link:hover:after,
.nav_link.active:after{
  display: block;
}
.nav_link.active:after{
  opacity: 1;
}
.nav_link.active{
  color: #fce38a;
}
.menu .logo a{
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}


.img{
  
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}


.center{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
label{
  color: #fff;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
div img{
  width: 100%;
  height: auto;
}
div{
  margin: o auto;
}
